.service-hero{
    background: url(../../assets/Frame\ 154.jpg);
    height: 88vh;
    padding-top: 1px;
    position: relative;
}
.service-hero .hero-text{
    color: white;
    margin-top: 23%;
}
.service-hero .hero-text p{
    color: white;
    font-weight: 300;
    margin-top: 2rem;
    font-size: 18px;
}.service-hero h3{
    font-weight: 600;
    font-size: 38px;
    font-family: 'Montserrat Alternates', sans-serif;
}
@media only screen and (max-width: 760px){
    .service-hero .hero-text{
        margin-top: 40%;
    }
    .service-hero .hero-text h3{
        text-align: center;
    }
}