.footer-content{
    background: #121212;
    color: white;
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.footer-content .line{
    border-bottom: .5px solid white;
    padding-bottom: 2rem;
}
.footer-content p{
    font-size: 13px;
    font-weight: 300;
}
.footer-item .socials img{
    margin-right: 20px;
}
.footer-item a{
    color: white;
}
.footer-content h4{
    font-size: 16px;
    font-weight: 500;
    color: #FEBC52;
    margin-bottom: 2rem;
}
.footer-list{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}
.footer-item.about_{
    width: 70%;
    text-align: left;
}
.about_ p{
    line-height: 1.7;
}
.about_ img{
    margin-bottom: 2rem;
}
.about_ .socials img{
    width: 25px;
}
.about_ .app-icons{
    margin-top: 20px;
    display: flex;
}
.about_ .app-icons img{
    margin-right: 20px;
    width: 120px;
}
.footer-item span{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.footer-item span p{
    margin-bottom: 0;
    margin-left: 20px;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 12px;
}
.copyright img{
    margin-right: 20px;
    width: 15px;
}
.copyright p{
    margin-bottom: 0;
    font-size: 11px;
}
@media only screen and (max-width: 768px){
    .footer-list{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 480px){
    .footer-list{
        grid-template-columns: 49% 49%;
    }
    .footer-item.center{
        text-align: center;
    }
    .footer-list .app-icons{
        display: none;
    }
    .footer-item.about_{
        width: 100%;
    }
    .footer-item span p{
        margin-left: 10px;
    }
    .footer-item span img{
        width: 15px;
    }
    .footer-item .socials img{
        margin-right: 10px;
    }
}
