@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat+Alternates:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
/* @import 'react-phone-number-input/style.css'; */


.App{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}
::placeholder{
  color: rgb(221, 220, 220)!important;
}
/* .alert-danger{
  display:none
} */
.PhoneInputInput{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529 !important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  top: 6px;
  position: relative;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.file-ready{
  position: relative;
  left: -30px;
  font-size: 10px;
}